.super-mario {
    width: 200px;
    position: absolute;    

  }
  
  .goomba {
    width: 100px;
    position: absolute;    
    top: 400px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    left: 230px;    
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 250px;
    top: 120px;
    z-index: 1;
  }
  
  .bowser {
    width: 350px;
    position: absolute;
    z-index: 4;
    top: 200px;
    left: 525px;
  }